* {
    
    text-decoration: none !important;
    font-family: 'Verdana Pro' !important;
  }
  .slick-disabled {
    opacity: 0.2;
    pointer-events:none;
}
  .row{
    padding-left: 12px;
    padding-right: 12px;
}
  .card-one{

      width: 100%;
      padding-left: 0px;
  }
  .card{
    border-style: none;
  }
  .slick-slide {
    margin-bottom: 0;
    object-fit: cover;
}
.slick-initialized .slick-slide {
    padding-right: 2px;
}
.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

/* Hover/Focus state */
a:hover {
    color:white;
    text-decoration: none;
    cursor:pointer;
}
  .card:hover{
      box-shadow: 1px 3px 4px rgb(0 0 0 / 20%);
  }
 
.card-body{
    padding: 24px 24px;
}
.category-label{
    font-weight: 700;
    font-size: 14px;
    color: #262626;
    letter-spacing: 0;
    line-height: 17px;
    text-transform: uppercase;
}
/* Italic style */
i {
    font-weight: 500;
    font-size: 16px;
    color: #262626;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: none !important;
    margin-left: auto; 
    margin-right: auto;
    width: 45%;
  }
  /* font awesome */
  .fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}

h4{
    color: #54585a;
    letter-spacing: 0;
    text-decoration: none !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.icon-div{
    height: 100%;
    width: 100%;
    text-align: center;

}
.icon-div i{
    margin: 31px auto;
}
h3{
    color: #54585a;
    letter-spacing: 0;
    text-decoration: none !important;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}
.card-para{
    font-weight: 500;
    font-size: 16px;
    color: #262626;
    letter-spacing: 0;
    line-height: 24px;
}
.card-body ul{
    font-weight: 500;
    font-size: 16px;
    color: #262626;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: none !important;
    margin-left: auto; 
    margin-right: auto;
    width: 45%;
}
/*  option to center align text in the card */
.text-center {
    text-align: center;
  }
  /*  option to left align text in the card */
  .text-left {
    float: left;
        height: auto;
  }
  /* card border option */
  .card-border{
    border: 1px solid #dddddd;
}
.card-border-dark{
    border: 1px solid #a2aaad;
}
.center-card{
    text-align: center;
}
.center-card ul{
    text-align: justify;
}
/* carousel-1 */
.slider{
    width: 70%;
    margin: 0 auto;
}
.slider .prev_arrow{
    position: absolute;
    top: 45%;
    left: -2%;
    background: #ffb500;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 11px;
}
.fa-angle-left:before {
    color: #262626;
    font-size: 24px;
}
.fa-angle-right:before {
    color: #262626;
    font-size: 24px;
}
.slider .next_arrow{
    position: absolute;
    top: 45%;
    right: -3%;
    background: #ffb500;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 13px;
}
/* infinite carousel */
.infinite-slider{
    width: 70%;
    margin: 0 auto;
}
.infinite-slider .prev_arrow{
    position: absolute;
    top: 45%;
    left: -2%;
    background: #ffb500;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 11px;
}
.infinite-slider .fa-angle-left:before {
    color: #fff;
    font-size: 24px;
}
.infinite-slider .fa-angle-right:before {
    color: #fff;
    font-size: 24px;
}
.infinite-slider .next_arrow{
    position: absolute;
    top: 45%;
    right: -3%;
    background: #ffb500;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 13px;
}
/* carousel-2 */
.scroll{
    width: 70%;
    margin: 0 auto;
}
.scroll .prev_arrow{
    position: absolute;
    top: 45%;
    left: -2%;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 11px;
}
.fa-chevron-left:before {
    color: #54585a;
    font-size: 24px;
}
.fa-chevron-right:before {
    color: #54585a;
    font-size: 24px;
}
.scroll .next_arrow{
    position: absolute;
    top: 45%;
    right: -3%;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 13px;
}
.py-2{
padding-left: 12px;
}
/* slider-one */
.slider-one{
    width: 24.5%;
    margin: 0 auto;
    margin-top: 5%;
}
.slider-one .prev_arrow{
    position: absolute;
    top: 45%;
    left: -6%;
    background: #ffb500;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 11px;
}
.fa-angle-left:before {
    color: #262626;
    font-size: 24px;
}
.fa-angle-right:before {
    color: #262626;
    font-size: 24px;
}
.slider-one .next_arrow{
    position: absolute;
    top: 45%;
    right: -9%;
    background: #ffb500;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 13px;
}
/* slide-comp */
.slide-comp{
text-align: center;
    margin:0 auto;
    background-color: #ffb500;
    width: 70%;
}
.slide-comp p{
    margin-right: 20%;
    margin-left:20% ;
}
.slide-size{
    margin-bottom: 5%;
}

.slide-comp .prev_arrow{
    position: absolute;
    top: 35%;
    left: 2%;
    z-index: 2;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 11px;
}
.slide-comp .fa-chevron-left:before {
    color: #54585a;
    font-size: 36px;
}
.slide-comp .fa-chevron-right:before {
    color: #54585a;
    font-size: 36px;
}
.slide-comp .next_arrow{
    position: absolute;
    top: 35%;
    right: 4%;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 13px;
}
/* vertical-comp */
.vertical-comp{
    width: 70%;
    margin: 0 auto;
}
.vertical-comp .prev_arrow{
    position: absolute;
    top: 45%;
    left: -2%;
    background: #ffb500;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 11px;
}
.vertical-comp .next_arrow{
    position: absolute;
    top: 45%;
    right: -3%;
    background: #ffb500;
    width: 36px;
    height:36px;
    cursor:pointer;
    padding-top: 6px;
    padding-left: 13px;
}

.white-slide-comp .fa-chevron-left:before {
    color: white;
    font-size: 36px;
}
.white-slide-comp .fa-chevron-right:before {
    color: white;
    font-size: 36px;
}
@media (max-width: 769px) {
    .slider-one{
        width: 33% !important;
    }
    .scroll{
        width: 93% !important;
    }
    .slider{
        width: 93% !important;
    }
    .infinite-slider{
        width: 93% !important;
    }
    .slider .next_arrow {
        right: -4%;
    }
    .infinite-slider .next_arrow {
        right: -4%;}
        .slider-one .next_arrow {
            right: -11%;
        }
        .slide-comp .next_arrow {
            right: 7%;
        }
        .vertical-comp .next_arrow {
            right: -4%;
        }
        .vertical-comp{
            width: 93% !important;
        }
        .slider .prev_arrow{
            left: -2.4%;
        }
        .infinite-slider .prev_arrow{
            left: -2.4%;
        }
        .vertical-comp .prev_arrow{
            left: -2.4%;
        }
        .slider-one .prev_arrow{
            left: -6.4%;
        }
}
@media (max-width: 1025px) {
    .slider-one{
        width: 33% !important;
    }
    .scroll{
        width: 93% !important;
    }
    .slider{
        width: 93% !important;
    }
    .infinite-slider{
        width: 93% !important;
    }
    .vertical-comp{
        width: 93% !important;
    }
}
/* 
@media (max-width: 600px) {
    a:hover h4 {
        text-decoration: underline !important;
    }
    .vertical-comp{
        width: 100% !important;
    }
    .slider-one{
        width: 100% !important;
    }
    .scroll{
        width: 100% !important;
    }
    .slider{
        width: 100% !important;
    }
    .infinite-slider{
        width: 100% !important;
    }
    .fa-chevron-left:before{
        display: none;
    }
    .fa-chevron-right:before{
        display: none;
    }
    .fa-angle-left:before{
        display: none;
    }
    .fa-angle-right:before{
        display: none;
    }
    .vertical-comp{
        padding-right: 3% !important;
    }
    span{
        display: none !important;
    }
    *{
        margin:0 !important;
        padding: 0 !important;
    }
    .py-2{
        padding-left: 12px !important;
        }
        .slide-comp{
            margin: 0 auto !important;
            width: 100%;
        }
        .slide-size{
            margin-bottom: 5% !important;
            padding-left: 3% !important;
            padding-right: 3% !important;
        }
        .vertical-comp .slick-track{
            display: contents;
        }
  } */
  @media (max-width: 600px) {
    .slider .next_arrow {
        right: -6%;
    }
    .infinite-slider .next_arrow {
        right: -6%;
    }
    .scroll .next_arrow {
        right: -4%;
    }
    .vertical-comp .next_arrow {
        right: -6%;
    }
    .slide-comp .next_arrow {
        right: 2%;
    }
    .slide-comp .prev_arrow {
        left: -4%;
    }
    .py-2{
        padding-left: 12px !important;
        }
        .slide-comp{
            margin: 0 auto !important;
            width: 100%;
        }
        .slide-comp p {
            margin-right: 7% !important;
            margin-left: 7% !important;
        }
        .card-body {
            padding: 12px 12px;
        }
        .vertical-comp .slick-track{
            display: contents;
        }
        .vertical-comp .next_arrow {
           display: none !important;
        }
        .vertical-comp .prev_arrow {
            display: none !important;
        }
        .slider-one{
            width: 93% !important;
        }
        .slider-one .next_arrow {
            right: -6%;
        }
        .slider-one .prev_arrow {
            left: -3%;
        }
}
@media (max-width: 325px) {
    .slider .next_arrow {
        right: -7%;
    }
    .infinite-slider .next_arrow {
        right: -7%;
    }
    .scroll .next_arrow {
        right: -5%;
    }
    .vertical-comp .next_arrow {
        right: -7%;
    }
    .slide-comp .next_arrow {
        right: 1%;
    }
    .slider-one .next_arrow {
        right: -7%;
    }
    .slide-comp .prev_arrow {
        left: -6%;
    }
}



